* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans", sans-serif;
}

body {
	font-size: 16px;
	background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
	min-height: 100vh;
	margin: 0 auto;
}
.container {
	display: grid;
	height: 100%;
}
.desktop {
	display: none;
}

.mobile {
	display: block;
	width: 100%;
	line-height: 0;
}

header {
}

.logo {
	width: 100px;
	margin-top: 2rem;
	margin-left: 2rem;
	margin-bottom: 1.5rem;
}

.content {
	text-align: center;
	margin: 2rem auto;
	max-width: 325px;
}

h1 {
	text-transform: uppercase;
	font-size: 2.5rem;
	line-height: 42px;
	letter-spacing: 10.83px;
	font-weight: 600;
	margin-bottom: 1rem;
}

.light-heading {
	font-weight: 300;
	color: hsl(0, 36%, 70%);
}

p {
	font-size: 0.875rem;
	color: hsl(0, 36%, 70%);
	line-height: 22px;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

form {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	height: 3em;
	border-radius: 28px;
	border: 1px solid #ce9898;
	opacity: 0.5;
}

form:invalid {
	border: 2px solid hsla(0, 92%, 68%, 1);
}

input {
	flex-grow: 2;
	border: none;
	margin-left: 1.5em;
	background-color: inherit;
	font-size: 0.875rem;
}

input:focus {
	/* removing the input focus blue box. Put this on the form if you like. */
	outline: none;
}

button {
	/* Just a little styling to make it pretty */
	background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
	box-shadow: 0px 15px 20px 0px hsla(0, 43%, 60%, 0.25);
	color: white;
	width: 4rem;
	border-radius: 28px;
	border: 0;
	z-index: 1;
}

#invalid {
	height: 24px;
	width: 24px;
	margin-top: 0.8125rem;
	margin-right: 0.5rem;
	visibility: hidden;
}
#invalid-msg {
	text-align: left;
	margin: 0.25rem 1.5rem;
	color: hsla(0, 92%, 68%, 1);
	visibility: hidden;
}

footer {
	display: none;
}

@media screen and (min-width: 769px) {
	body {
		overflow-x: clip;
	}
	.container {
		grid-template-columns: auto 42%;
		grid-template-rows: 100px auto;
		grid-template-areas:
			"header hero-container"
			"content hero-container";
		background-image: url(../images/bg-pattern-desktop.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.logo {
		margin-left: 10.3125rem;
		margin-top: 4.625rem;
		margin-right: 10.3125rem;
		margin-bottom: 4.625rem;
	}

	.logo {
		width: 158px;
	}

	.hero {
		height: 100vh;
	}

	.desktop {
		display: inherit;
	}

	.mobile {
		display: none;
	}

	.content {
		grid-column: 1/1;
		grid-row: 2/3;
		text-align: left;
		margin-left: 10.3125rem;
		margin-right: 10.3125rem;
		margin-top: 3.875rem;
	}

	p {
		margin-top: 2rem;
		margin-bottom: 2.5rem;
		margin-right: 3rem;
	}

	h1 {
		font-size: 4em;
		line-height: 71px;
		letter-spacing: 17.32;
	}

	form {
		margin-right: 3em;
		height: 3.5rem;
	}
	button {
		width: 6.25rem;
	}

	input {
		font-size: 1rem;
	}

	#invalid {
		fill: #f96464;
		height: 24px;
		width: 24px;
		justify-items: center;
		margin-top: 1rem;
		margin-right: 1rem;
	}

	.content {
		max-width: inherit;
	}
}
